* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.content {
  height: 100vh;

  width: 100vw;

  background: lightgray;

  display: flex;

  justify-content: center;

  align-items: center;
}

.chat-content {
  height: 80%;
  width: 60%;
  /* background: blue; */
  display: flex;
}
.chat-profile {
  background: #7d7cda;
  height: 100%;
  width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.chat-box {
  background: #ebeef2;
  height: 100%;
  width: 70%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-list {
  height: 90%;
  overflow: auto;
}
.chat {
  /* height: 35px; */
  margin: 10px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
}
.left {
  background: white;
  float: left;
  clear: both;
}
.right {
  background: #7d7cda;
  color: white;
  float: right;
  clear: both;
}
.join {
  float: left;
  clear: both;
  background: darkviolet;
  color: white;
  width: 90%;
  max-width: none;
  justify-content: center;
}
.leave {
  float: left;
  clear: both;
  background: red;
  color: white;
  width: 90%;
  max-width: none;
  justify-content: center;
}
.chat-type-box {
  background: white;

  border-bottom-right-radius: 10px;

  height: 10%;

  display: flex;

  align-items: center;

  justify-content: space-evenly;
}
#chat {
  outline: none;
  border: none;
  background: #ebeef2;
  height: 70%;
  width: 80%;
  border-radius: 10px;
  color: lightslategray;
  font-size: 17px;
  padding: 10px;
}
.send {
}
.fas {
  font-size: 25px;

  color: #7d7cda;
}
