<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu">
        <div class="file active-menu">File</div>
        <div class="home">Home</div>
    </div>
    <div class="menu-options">
        <div class="file-menu-options">File menu options</div>
        <div class="home-menu-options hide">
            <div class="left">
                <select name="font" id="font-style">
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                    <option value="">D</option>
                </select>
                <div class="font-style">
                    <div class="bold">B</div>
                    <div class="underline">U</div>
                    <div class="italic">I</div>
                </div>
            </div>
            <div class="middle">
                <select name="font-size" id="font-size">
                    <option value="">10</option>
                    <option value="">12</option>
                    <option value="">14</option>
                    <option value="">16</option>
                    <option value="">17</option>
                    <option value="">18</option>
                    <option value="">19</option>
                </select>
                <div class="color">
                    <input type="color" name="" id="cell-color">
                    <input type="color" name="" id="font-color">
                </div>
            </div>
            <div class="right">
                <div class="left-align">L</div>
                <div class="center-align">C</div>
                <div class="right-align">R</div>
            </div>
        </div>
    </div>
    <div class="address">
        <input type="text" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="content">
        <div class="top-left-cell"></div>
        <div class="top-row">
            <%for(let j=0 ; j<26 ; j++){%>
                <div class="top-row-cell"> <%= String.fromCharCode(j+65)%>  </div>
            <%}%>
        </div>
        <div class="left-col">
            <%for(let j=0 ; j<100 ; j++){%>
                <div class="left-col-cell"> <%=j+1%> </div>
            <%}%>
        </div>
        <div class="cells">
            <!-- 100 * 26 -->
            <%for(let i=0 ; i<100 ; i++){%>
                <div class="row">
                    <%for(let j=0 ; j<26 ; j++){%>
                        <div class="cell" contentEditable="true" rowid=<%= i%> colid=<%= j%>></div>
                    <%}%>
                </div>
                <%}%>
        </div>
    </div>

    
    
    
    <div class="sheets">
    <div class="sheets-list">
        <div class="sheet active-sheet" sid="0">Sheet 1</div>
    </div>
    <div class="add-sheet"><i class="fas fa-plus-circle"></i></div>
    </div>
    <script src="./script.js"></script>
</body>
</html>