<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu">Menu</div>
    <div class="menu-options">Menu-options</div>
    <div class="address">
        <input type="text" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="content">
        <div class="top-left-cell"></div>
        <div class="top-row">
            <%for(let j=0 ; j<26 ; j++){%>
                <div class="top-row-cell"> <%= String.fromCharCode(j+65)%>  </div>
            <%}%>
        </div>
        <div class="left-col">
            <%for(let j=0 ; j<100 ; j++){%>
                <div class="left-col-cell"> <%=j+1%> </div>
            <%}%>
        </div>
        <div class="cells">
            <!-- 100 * 26 -->
            <%for(let i=0 ; i<100 ; i++){%>
                <div class="row">
                    <%for(let j=0 ; j<26 ; j++){%>
                        <div class="cell" contentEditable="true" rowid=<%= i%> colid=<%= j%>></div>
                    <%}%>
                </div>
                <%}%>
        </div>
    </div>

    
    
    
    <div class="sheets">
    <div class="sheets-list">
        <div class="sheet active-sheet" sid="0">Sheet 1</div>
    </div>
    <div class="add-sheet"><i class="fas fa-plus-circle"></i></div>
    </div>
    <script src="./script.js"></script>
</body>
</html>